/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2017, 02:21:43 AM
    Author     : alejandro
*/
body{
    background-color: aquamarine;
}
img{
    height: 100%;
    width: 100%;
 
}
.imagen{
    height: 25%;
    width: 25%;
    overflow: hidden;
    resize: both;
    display: block;
}
a{
    color:black;
    text-decoration:none;
    
}
